/* Fotos miniatura */
.galCol img {
  width: 100%;
  opacity: 0.8;
  cursor: pointer;
}

.galCol img:hover { /* Al estar sobre una de las chiquitas se oscurse un poco mas (para poder diferenciar cual se esta seleccionando) */
  opacity: 1;
}

  /* Estrellas de los comentarios */
  .checked {
    color: orange;
  }

  /* Informacion */
  .titulo{
    color: blue;
  }

  .textos{
    text-align: justify;
  }