body {
    background-image: url('../img/eMLogin.png');
    background-size: 100% 100vh;
    font-family:'Courier New', Courier, monospace ;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 3em;
  }

.btn-secondary {
    width: 100%;
    background-color: green;
}

.alert {
  top: 0;
}

#alert-null, #alert-email {
    text-align: center;
}